@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: oklch(12.9% 0.042 264.695);
  color: oklch(96.8% 0.007 247.896);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
